<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/urlTable.css">
    <title>Shorten your links, expand your reach with Linkify.</title>
</head>

<body>
    <table>
        <tr>
            <th>URL</th>
            <th>Shortened URL</th>
            <th>Uploaded</th>
            <th>Clicks</th>
        </tr>
        <tr>
            <td>
                <%= tableData.originalUrl %>
            </td>
            <td>
                <%= tableData.shortenedUrl %>
            </td>
            <td>
                <%= tableData.createdAt %>
            </td>
            <td>
                <%= tableData.clicks %>
            </td>
        </tr>
    </table>
</body>

</html>