<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <script src="https://kit.fontawesome.com/99e935dfde.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <title>Shorten your links, expand your reach with Linkify.</title>
</head>

<body>
    <h1 id="header" class="center">linkify ♡</h1>
    <p id="description" class="center">your <span style="color:orangered">favorite</span> url shortener</p>
    <div id="form">
        <form method="POST" action="/new">
            <label for="url" class="center">URL</label>

            <input type="text" name="url" />
            <button type="submit">linkify!</button>
        </form>
        <div id="result-container" style="display: <%= display %> ">

            <h1 class="center">Congratulations, your link is on the way!</h1>
            <div id="link-container">
                <div id="link">
                    <p>
                        <%= newUrl %>
                    </p>
                </div>
                <i class="fa-solid fa-copy hoverable fa-lg icon" id="copy"></i>
                <i class="fa-solid fa-qrcode icon hoverable" id="qr"></i>
                <i class="fa-solid fa-arrow-up-right-from-square icon hoverable" id="open-link"></i>

            </div>
        </div>
    </div>
    <footer>
        <p>Shorten your links, expand your reach with Linkify.</p>
    </footer>

    </img>

    <script defer>
        var newUrl = '<%= newUrl %>';
        var oldUrl = '<%= oldUrl %>';
        document.getElementById("copy").addEventListener("click", function () {
            document.getElementById("link-container").classList.add("copied");
            navigator.clipboard.writeText(newUrl); // Kopiranje generisanog URL-a.
        });
        document.getElementById("open-link").addEventListener('click', () => {
            window.open(oldUrl); // Open url za shortened url
        });


        // Opener za QR code
        var qrOpen = document.getElementById("qr");

        // Ovo je dialog/container za qr code
        var dialog = document.createElement("div");
        var qrContainer = document.createElement("div"); // inner container za qr (najblizi parent)
        dialog.id = "dialog";
        dialog.style.display = "none";




        //#region Zatvaranje QR Dialoga

        var closeBtn = document.createElement("button");
        closeBtn.innerHTML = "X";
        closeBtn.id = "close-btn";
        closeBtn.style.cursor = 'pointer'
        dialog.appendChild(closeBtn);
        dialog.appendChild(qrContainer);
        closeBtn.addEventListener("click", function () {
            dialog.style.display = "none"; // 
            qrContainer.innerHTML = "";
        });
        //#endregion

        //#region Otvaranje QR Dialoga

        qrOpen.addEventListener("click", function () {
            if (dialog.style.display != 'none') {
                return;
            }
            dialog.style.display = "block";
            var qr = new QRCode(qrContainer, { // QR opcije
                text: newUrl,
                width: 256,
                height: 256,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H,

            });
            qr.make(); // Kreira QR code sa opcijama

        });
        //#endregion



        document.body.appendChild(dialog);
    </script>
</body>

</html>