@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #260038, #18001f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    font-family: 'Happy Monkey', sans-serif;
    display: flex;
    flex-direction: column;
}


#form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    background-color: #270152;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    margin-top: 4%;
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

#search {
    background-color: #270152;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.header {
    text-align: center;
    margin: 5rem 0;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1.5rem;
    font-weight: 300;
}

#link-container {
    background-color: rgb(98, 0, 255);
    border-radius: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#link-container.copied {
    background-color: rgb(0, 128, 75);
    transition: background-color 1s ease;
}

#result-container {
    display: none;
}

#link {
    font-size: 1.1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}


#copy {
    right: 35px;
}

#chart {
    right: 20px;
}

#qr {
    right: 70px;
}

#open-link {
    right: 100px;
}

#chart-open {
    right: 13px;
}


.icon {
    position: absolute;
}

a {
    color: inherit;
}

.hoverable {
    cursor: pointer;
}



.center {
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
}

#linkify {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    font-family: 'Happy Monkey', sans-serif;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #270152;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

input[type="text"]:focus {
    background-color: #fff;
    border-color: #420061;
    outline: none;
}

#submit:hover {
    background-color: #45a049;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#dialog {
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-btn {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
}

#save-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin-top: 7px;
}


#save-btn:hover {
    background-color: darkblue;
    transform: scale(1.1);
}

#save-btn:active {
    background-color: navy;
    transform: scale(0.9);
}

footer {
    display: flex;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgb(29, 0, 63);
    justify-content: center;
    align-items: center;
    position: fixed;
    column-gap: 5px;

}
footer #credits {
   width: 35px;
   height: 35px;
   cursor: pointer;
}

#site-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .5px;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.3rem;
}

#save-qr {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

/* Add some hover effects to the button */
#save-qr:hover {
    background-color: #3e8e41;
    /* Darker green on hover */
}

/* Add a press effect to the button */
#save-qr:active {
    background-color: #3e8e41;
    /* Same color as hover state */
    transform: translateY(4px);
    /* Move button down 4px */
}
@media screen and (max-width: 970px) {
    html {
        font-size: 14px;
    }

    #link {
        justify-content: start;
        padding-left: 5px;
        font-size: 1rem;
    }

    #copy {
        right: 10px;
    }

    #chart {
        right: 30px;
    }

    #qr {
        right: 50px;
    }

    #open-link {
        right: 70px
    }

    #form {
        width: 88%;
    }

    #chart-open {
        right: 33px;
    }
}